mixin card(title, image_src, content, url)
  .card.cell-col-4
    if(image_src)
      .card__media
        div(style='background-image: url(' + image_src + ');' alt="#{title} image")
    .card__container
      .card__title
        h1=title
      if(content)
        .card__content
          p=content
      if(url)
        .card__actions
          a.button.button__flat(href=url) More

mixin footer()
  footer
    .centered
      block

mixin css(url, integrity)
  link(rel="stylesheet" href=url integrity=integrity crossorigin="anonymous" type="text/css")

- var routes = [{name: 'Home', path: '//spiderbiggen.com/'}];
block variables

doctype html
html(lang="en")
  head
    title=page || 'Sign-in'
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    +css("https://use.fontawesome.com/releases/v5.6.3/css/solid.css", "sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G")
    +css("https://use.fontawesome.com/releases/v5.6.3/css/brands.css", "sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX")
    +css("https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css", "sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0")
    +css("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500,700|Noto+Serif&display=swap")
    link(rel="stylesheet" href="https://spiderbiggen.com/css/main.css")
    link(rel="stylesheet" href="https://spiderbiggen.com/css/dark.css" media="(prefers-color-scheme: dark)")
    script(src="https://spiderbiggen.com/js/theme.js")
    script var uid = '#{uid}';
    block head
  body
    header.navigation
      block header
        if routes.length > 1
          i.header-icon.fas.fa-bars.sm-only(aria-hidden=true onclick="document.getElementById('mobile-navigation').classList.toggle('active')")
        ul
          each val, index in routes
            li(class=((val.name === (page) ? 'active' : '') + (index === 0 ? '' : ' md-up')))
              a.header(class=(index === 0 ? 'header-title' : '') href=`${ val.path }`)=val.name
        .flex-spacer
        #header-icons
          block icons
            a.header-icon(href="//github.com/spiderbiggen" aria-label="Link to personal gitlab page.")
              i.fab.fa-github(aria-hidden=true)
            a.header-icon(href="//gitlab.com/spiderbiggen" aria-label="Link to personal github page.")
              i.fab.fa-gitlab(aria-hidden=true)
        block user
    block aside
      if routes.length > 1
        header#mobile-navigation
          each val, index in routes
            a.header(class=(val.name === page ? 'active' : '') href=`${ val.path }`)=val.name
    block app
    block footer
