extends _template

block head
  script(src="https://accounts.google.com/gsi/client" async defer)
  style
    include ./css/login.css

block app
  .content
    .login-card.card
      .card__container
        .card__title
          h1=title
        .card__content
          .login-client-image
            if client.logoUri
             img(src=client.logoUri)

          ul
            if [details.scopes.accepted, details.scopes.rejected, details.claims.accepted, details.claims.rejected].every(({ length }) => length === 0)
              li this is a new authorization

            if [details.scopes.new, details.claims.new].every(({ length }) => length === 0)
              li the client is asking you to confirm previously given authorization

            - newScopes = new Set(details.scopes.new);
            - newScopes.delete('openid');
            - newScopes.delete('offline_access');
            if newScopes.size
              li scopes:
              ul
                each scope in [...newScopes]
                  li= scope

            - newClaims = new Set(details.claims.new);
            - ['sub', 'sid', 'auth_time', 'acr', 'amr', 'iss'].forEach(Set.prototype.delete.bind(newClaims));
            if newClaims.size
              li claims:
              ul
                each claim in [...newClaims]
                  li= claim

            if params.scope && params.scope.includes('offline_access')
              li the client is asking to have offline access to this authorization
                if !details.scopes.new.includes('offline_access')
                  | which you've previously granted)

          form(autocomplete="off" action="/interaction/" + uid + "/confirm" method="post")
            button.button.button__filled.login.login-submit(autofocus type="submit") Continue
          .login-help.card__actions
            a.g_id_signout(href="/interaction/" + uid + "/abort") Cancel
            if client.tosUri
              a(href=client.tosUri) Terms of Service
            if client.policyUri
              a(href=client.policyUri) Privacy Policy
