extends _template

block head
  meta(name="google-signin-client_id" content=googleClientID)
  script(src="https://apis.google.com/js/platform.js" async defer)
  script
    include ./js/GoogleOauth.js
  style
    include ./css/login.css

block app
  .content
    .login-card.card
      .card__container
        .card__title
          h1=title
        .card__content
          if flash
            p=flash
          form(autocomplete="on" action="/interaction/" + uid + "/login" method="post")
            input(required type="email" name="email" placeholder="email" autofocus=!params.login_hint value=params.login_hint )
            input(required type="password" name="password" placeholder="password" autofocus=params.login_hint)
            button.button.button__filled.login.login-submit(type="submit") Sign-in
          .oauth-list
            .g-signin2(data-onsuccess="onSignIn" data-cookiepolicy="single_host_origin" data-theme="dark" data-longtitle="true" data-width="240")
          .login-help.card__actions
            a.button.button__flat.g_id_signout(href="/interaction/" + uid + "/abort") Cancel
            if client.tosUri
              a.button.button__flat(href=client.tosUri) Terms of Service
            if client.policyUri
              a.button.button__flat(href=client.policyUri) Privacy Policy
