.login-card {
  width: calc(98vw - 20px);;
  max-width: 24rem;
  margin: 0 auto 10px;
  overflow: hidden;
}

.login-card + .login-card {
  padding-top: 10px;
}

.card__content {
  padding: 1rem 1rem 0;
}

.login-card h1 {
  text-align: center;
}
/*.login-card h1 + p {*/
/*  font-weight: 100;*/
/*  text-align: center;*/

/*}*/

.login-card [type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=email], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.login-submit {
  border: 0;
  background-color: var(--color-accent, #4d90fe);
}
/*.login-card a {*/
/*  text-decoration: none;*/
/*  color: #666;*/
/*  font-weight: 400;*/
/*  text-align: center;*/
/*  display: inline-block;*/
/*  opacity: 0.6;*/
/*}*/

.login-help {
  width: 100%;
  text-align: center;
}

.login-client-image img {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.login-card input[type=checkbox] {
  margin-bottom: 10px;
}

.login-card label {
  color: #999;
}

ul {
  font-weight: 100;
  padding-left: 1em;
  list-style-type: circle;
}

li + ul, ul + li, li + li {
  padding-top: 0.3em;
}

.login-help {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px;
}

.login-help a {
  margin-bottom: 10px;
}

.login-help a:last-child {
  margin-bottom: 0;
}

.oauth-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem 0;
}

.oauth-list > * {
  margin-bottom: 10px;
}

.oauth-list > *:last-child {
  margin-bottom: 0;
}
